*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-visual{
  height: 400px;
  width:100%;
  background-image: url(img/mv7.jpg);
  background-size:cover;
  background-position: bottom;
}

.headline{
  color:gray;
  padding:20px;
}

main{
  width:840px;
  margin: 50px auto;
  
}


.service1,.service2,.service3{
  margin-bottom: 30px;
  padding-bottom: 30px;
  /*text-align: left;なくても左寄せになった*/
  border-bottom: 1px solid #d1d1d1;
}

.service4{
  padding-bottom: 30px;
  /*text-align: left;なくても左寄せになった*/
  border-bottom: 1px solid #d1d1d1;
}

p,a{
  color:#d1d1d1;
  
}